<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Деактивация ссылки</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="box">
    <h1>Деактивация короткой ссылки</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, msg in messages %}
            <p class="{{ category }}">{{ msg }}</p>
        {% endfor %}
    {% endwith %}
    <form method="POST">
        <label for="short_code">Введите короткий код, который идёт после "http://localhost:8000/":</label><br>
        <input type="text" name="short_code" id="short_code" required><br>
        <button type="submit">Деактивировать</button>
    </form>
    <div class="actions">
        <a href="{{ url_for('index') }}" class="button-link">Назад к созданию ссылки</a>
    </div>
</div>
</body>
</html>
